* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #b2533e;
  font-family: "Roboto", sans-serif !important;
}

.nav-bar {
  background-color: #186f65;
  position: fixed;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  max-width: 1200px;
  margin-inline: auto;
}

.logo-container {
  width: 80px;
}

.logo-container img {
  width: 100%;
}

.list-links {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.list-links .link {
  list-style: none;
}

.list-links .link a {
  text-decoration: none;
  color: #fce09b;
  font-size: 18px;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.btn-link {
  text-decoration: none;
  color: #fce09b;
  font-size: 18px;
  padding: 5px 30px;
  border: 1px solid #b5cb99;
  transition: 300ms;
}
.btn-link:hover {
  background-color: #b2533e;
}
.cart-container {
  width: 80%;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding-bottom: 100px;
}

.cart-body {
  border: 1px solid #b5cb99;
  width: 220px;
  padding: 20px 10px;
  margin: 15px auto;
  background-color: aliceblue;
}
.cart-body:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cart-body .rest-img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 30px;
}

.cart-body h3,
p,
h4 {
  padding-left: 15px;
  padding-top: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.search-bar {
  width: 80%;
  margin-inline: auto;
  padding: 150px 10px 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-card {
  background-color: transparent;
  padding: 10px 20px;
  font-size: 14px;
  border: 2px solid #fce09b;
  color: #fce09b;
}

.filter-card:hover {
  background-color: #186f65;
  cursor: pointer;
}

.search-input {
  margin-right: 30px;
  padding: 10px 20px 10px 20px;
}

.search-btn {
  padding: 10px 30px;
}

.shimmer-body {
  padding-top: 200px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.shimmer-card {
  height: 400px;
  width: 300px;
  background-color: #975a5a;
}
